/*With the declaration below, the height & width of the box will remain fixed. The border thickness and padding will be included inside of the box*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/*Here are the CSS code to style the <header> section*/
.header {
  height: 300px;
  background-image: url("../pictures/headOption2.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}

#HGEL {
  margin: 0;
}

#menuBar {
  font-family: "Lucida Sans", "Lucida Sans Unicode";
  text-align: center;
  margin-top: 30px;
}

#btn {
  border: 1px solid #58751d;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #caec50;
  box-shadow: 0px 4px;
}
/*The code below make the button appear to depress downwards when clicked*/
#btn:active {
  background-color: #9eb93f;
  box-shadow: 0px 0px;
}

a {
  text-decoration: none;
  color: #12280a;
}

hr {
  width: 617px;
  background-color: #141b07;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 51px;
  color: #1e280a;
  padding-top: 50px;
  text-align: center;
}

/*Here are the CSS code to style the <main> section id="whoAmI"*/
#whoAmI {
  height: 417px;
  width: 100%;
  border: 1px solid #58751d;
  background-color: #9ace33;
}

h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #141b07;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 20px;
  line-height: 25px;
  padding-right: 50px;
}

#aboutPic {
  float: left;
  padding: 0px 50px 0px 0px;
}

/*CSS code for the id="ourServices"*/
#ourServices {
  border: 1px solid #58751d;
  background-color: #9ace33;
  height: 447px;
  width: 100%;
  margin-top: 2px;
}

.pService,
.service-conclusion,
.list-of-services {
  margin-left: 10px;
}
#nurse {
  height: 360px;
  float: right;
}

.list {
  font-size: 20px;
  font-family: "Lucida Sans";
  line-height: 1.5;
}

/*Here are the CSS code to style the <footer> section*/
footer {
  background-color: #4e681a;
  height: 175px;
  width: 100%;
  align-items: center;
}

#footer-title {
  text-align: center;
  color: #d8e2ca;
}

.contact-list {
  color: #e4efd5;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.eml {
  border: 1px solid #58751d;
  border-radius: 50px;
  padding: 7px;
  background-color: #caec50;
  text-decoration: none;
  color: #28350d;
}
